<!-- style="background-image: url(assets/images/values-1-1.jpg);" -->
<section class="values-one">
    <div class="values-one__wrap">
        <div class="values-one__left">
            <div class="values-one__bg" id="values-one_bg"  >
            </div>
        </div>
        <div class="values-one__right">
            <div class="values-one__shape-1 float-bob-x">
                <img src="assets/images/values-one-shape-2.png" alt>
            </div>
            <div class="values-one__content">
                <div class="section-title text-left">
                    <span class="section-title__tagline">Lux Place Apartmani</span>
                    <h2 class="section-title__title">Lux Place: Vaša vrata ka raskošnom iskustvu</h2>
                </div>
                <p class="values-one__text">Lux Place je renomirana kompanija koja se ističe kao lider u stvaranju ekskluzivnih prostora koji nadmašuju očekivanja.
                     Naša strast za dizajnom i detaljima osigurava da svaki projekat bude izrađen sa izvanrednom pažnjom i luksuzom.</p>
                <div class="values-one__points-box">
                    <div class="values-one__points-img">
                        <img src="/assets/images/values-1-2.jpg" alt>
                    </div>
                    <ul class="values-one__points list-unstyled">
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Besprekoran stil</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Savršeno usaglašavanje</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>Izuzetnog kvaliteta</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>