<section class="location">
    <div class="location-shape-1 float-bob-x">
        <img src="assets/images/location-shape-1.png" alt>
    </div>
    <div class="container">
        <div class="row">
            <!--Location single Start-->
            <div class="col-12">
                <div class="location__single">
                    <h4 class="location__title">U samom centru grada</h4>
                    <p class="location__text">{{CONTACT_.ADRESS}}</p>
                    <div class="location__phone-email">
                        <a href="mailto:needhelp@company.com">{{CONTACT_.EMAIL}}</a> <br>
                        <a href="tel:{{CONTACT_.PHONE}}">{{CONTACT_.PHONE}}</a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>